@use "../global" as *;
/* --------------------
layout/footer
---------------------*/
.footer {
  overflow: hidden;
  font-size: 1rem;
  @include mq(sm){
    font-size: 1.125rem;
  }
}

.footer-top-shape {
  width: 100%;
  height: auto;
  translate: 0 1px;
  scale: 1.03 1;
}

.footer__inner {
  background-color: $main-color;
  color: $base-color;
  padding: 16px 0;
  @include mq(sm){
    padding: 32px 0;
  }
}

.footer__contents {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  width: 80vw;
  text-align: center;
  @include mq(sm){
    text-align: left;
    justify-content: center;
    flex-direction: row;
  }
  @include content-margin-L();
}

.footer__contents > *:not(:last-child) {
  border-bottom: 2px solid $base-color;
  @include mq(sm){
    border-bottom: none;
    border-right: 2px solid $base-color;
  }
}

.footer__contents > * {
  padding: 32px 0;
  @include mq(sm){
    padding:  0 64px;
  }
}

.footer__logo {
  margin-inline: auto;
}

.footer__nav__link {
  display: inline-block;
  padding: 12px;
  border-bottom: 2px dotted $accsent-color;
}

@media (any-hover: hover){
  .footer__nav__link:hover {
    color: $accsent-color;
  }
}

.copyright {
  display: block;
  text-align: center;
}