
$font-base: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo,
  sans-serif;
$font-logo: "mrs-eaves-roman-lining", "Cardo", serif;
$font-sub: "Sawarabi Mincho", "Noto Serif JP", serif;

// Mrs Eaves Roman Lining
// font-family: "mrs-eaves-roman-lining", serif;
// font-weight: 400;
// font-style: normal;

// .sawarabi-mincho-regular {
//   font-family: "Sawarabi Mincho", serif;
//   font-weight: 400;
//   font-style: normal;
// } 

// .cardo-regular {
//   font-family: "Cardo", serif;
//   font-weight: 400;
//   font-style: normal;
// }
// .cardo-bold {
//   font-family: "Cardo", serif;
//   font-weight: 700;
//   font-style: normal;
// }
// .cardo-regular-italic {
//   font-family: "Cardo", serif;
//   font-weight: 400;
//   font-style: italic;
// } 

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
// .noto-sans jp-<uniquifier> {
//   font-family: "Noto Sans JP", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
// } 

// .noto-serif jp-regular {
//   font-family: "Noto Serif JP", serif;
//   font-weight: 400;
//   font-style: normal;
// } 

