//セクションの上下余白
$section-padding--sp: 64px 0;
$section-padding: 128px 0;

//見出しの下の余白、margin-bottom単体で指定
$heading-under-margin--sp: 32px;
$heading-under-margin: 64px;

//コンテンツ間の余白、margin-bottomにて指定
$content-under-margin--sp: 24px;
$content-under-margin--sp-L: 32px;
$content-under-margin: 48px;
$content-under-margin-L: 64px;
